RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=
EMAIL_FROM="Billion Dollar YAAA <ai@tsindia.org>"
MISTRAL_API_KEY=
TAVILY_API_KEY=
QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=
WORKER_URL=
